<div class='container py-5'>
  <h1>Your Watchlists</h1>
  <hr>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
  <%= link_to "Add a new watchlist", new_list_path%>
</div>
