<%# Dark navbar with white logo %>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1"> <%= link_to lists_path, class: "navbar-brand" do %>
        <%= image_tag "white-logo.png" %>
      <% end %>We Should Watch That</span>
  </div>
</nav>
